@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

.text-bold {
   font-weight: bold;
}

.text-italic {
   font-style: italic;
}

.text-underline {
   text-decoration: underline;
}